@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Kollektif&display=swap');

@font-face {
    font-family: 'Gagalin';
    src: url('/fonts/Gagalin-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

  html {
    background-color: #051A37;
    font-family: 'Montserrat', sans-serif;
  }